<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto font-weight-bold">
      <span>&copy; Trang quản trị website PINE PERFUME</span>
    </div>
  </div>
</footer>
