<% layout('base') -%>

    <div class="container">
        <h1 class="my-4 text-center text-primary">Manage Product</h1>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-sm-9 text-dark">
                        <h4><strong>Product</strong></h4>
                    </div>
                    <div class="col col-sm-3">
                        <button type="button" id="add_data" class="btn btn-success btn-sm float-end">Add</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="sample_data">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Inventory</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="modal" id="action_modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form method="post" id="sample_form" enctype="multipart/form-data">
                    <div class="modal-header" id="dynamic_modal_title">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2 edit-show">
                            <label class="form-label">Tên sản phẩm</label>
                            <input type="text" name="title" id="title" class="form-control" />
                        </div>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-3">
                                <label class="form-label">Danh mục</label>
                                <select name="category" class="form-control" id="category">
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Thương hiệu</label>
                                <select name="brand" class="form-control" id="brand">
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Giới tính</label>
                                <select name="gender" class="form-control" id="gender">
                                    <option value="nam">Nam</option>
                                    <option value="nữ">Nữ</option>
                                    <option value="unisex">Unisex</option>   
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-2 edit-show">
                            <div class="form-group col-md-4">
                                <label class="form-label">Giá</label>
                                <input type="number" name="price" id="price" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Khuyến mãi</label>
                                <input type="number" name="promotion" id="promotion" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Năm ra mắt</label>
                                <input type="number" name="yearOfLaunch" id="yearOfLaunch" class="form-control" />
                            </div>

                        </div>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-4">
                                <label class="form-label">Độ tuổi khuyên dùng</label>
                                <input type="number" name="recommendedAge" id="recommendedAge" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Nhóm nước hoa</label>
                                <input type="text" name="perfumeGroup" id="perfumeGroup" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Xuất xứ</label>
                                <input type="text" name="origin" id="origin" class="form-control" />
                            </div>
                        </div>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-4">
                                <label class="form-label">Nồng độ</label>
                                <input type="text" name="concentration" id="concentration" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Hương đầu</label>
                                <input type="text" name="topNotes" id="topNotes" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Hương giữa</label>
                                <input type="text" name="middleNotes" id="middleNotes" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-label">Hương cuối</label>
                                <input type="text" name="baseNotes" id="baseNotes" class="form-control" />
                            </div>
                        </div>
                        <div class="mb-2 edit-show">
                            <label class="form-label">Mô tả</label>
                            <textarea name="description" id="description" placeholder="Description" class="form-control"
                                rows="30"></textarea>
                        </div>
                        <div class="mb-2 img-all edit-show">
                            <div class="form-group">
                                <div class="img-cover">
                                    <div class="drag-area">
                                        <span class="visible">
                                            Drag & drop image here or
                                            <span class="select" role="button">Browse</span>
                                        </span>
                                        <span class="on-drop">Drop images here</span>
                                        <input name="images" type="file" class="images" multiple />
                                    </div>

                                    <!-- IMAGE PREVIEW CONTAINER -->
                                    <div class="img-show"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="action" id="action" value="Add" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="action_button">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/product.js"></script>
    <script src="/js/upload.js"></script>